<!DOCTYPE html>
<html> 
    <head>
        <title>Brandy Calculator</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='calculator/style.css') }}" />
        <script defer src="{{ url_for('static', filename='calculator/script.js') }}"></script>
    </head>
    <body>
        <header class="text-bold text-family-verdana header-style" id="header">
            <nav>
                <a href="{{ url_for('brandy') }}">Home</a>
                <a href="{{ url_for('calculator') }}">Logout</a>
            </nav>
        </header>
        <div>


        </div>
    </body>
</html>